.container {
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: "header . . ." "main main . sidebar" "footer footer footer footer";
}

header {
    background-color: orange;
    grid-area: header;
}

main {
    background-color: blue;
    grid-area: main;
}

aside {
    background-color: red;
    grid-area: sidebar;
}

footer {
    background-color: green;
    grid-area: footer;
}

h1 {
    font-size: 4rem;
    color: white;
}

.menu-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.item-navigation {
    margin: 0 10px;
}